<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>SENF MSG</h1>
    <input type="text" placeholder="TO" id="to"/>
    <input type="text" placeholder="MSG" id="msg"/>
    <input type="button" value="SEND" onclick="sendMsg();"/>
    <h1>USER LIST ({{ user_list.MemberCount }})</h1>
    {% for user in user_list.MemberList %}
        <div username="{{ user.UserName }}">
            <span>{{ user.NickName }}</span>
        </div>
    {% endfor %}
    <script src="/static/jquery-1.12.4.js"></script>
    <script>
        $(function () {
            getMsg();
        });

        function getMsg() {
            $.ajax({
                url:'/get_msg.html',
                type:'GET',
                success:function (arg) {
                    getMsg()
                }
            })
        }

        function sendMsg() {
            $.ajax({
                url:'/send_msg.html',
                type:'POST',
                data:{'to':$('#to').val(),'msg':$('#msg').val()},
                success:function (arg) {
                    alert(arg);
                }
            })
        }
    </script>
</body>
</html>