<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ME</h1>
<img src="/avatar.html?prev={{ request.session.INIT_DICT.User.HeadImgUrl }}">
<h2>{{ request.session.INIT_DICT.User.NickName }}</h2>
<h1>最近...</h1>
<ul>
    {% for user in request.session.INIT_DICT.ContactList %}
        <li><img src="/avatar.html?prev={{ user.HeadImgUrl }}">{{ user.UserName }} {{ user.NickName }}</li>
    {% endfor %}
</ul>
<a href="/contact_list.html">更多联系人</a>
</body>
</html>