<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <!-- QRcode img address -->
        <img style="height: 430px;width: 430px;" id="img" src="https://login.weixin.qq.com/qrcode/{{ uuid }}" alt="">
    </div>
    <script src="/static/jquery-1.12.4.js"></script>
    <script>
        // 页面加载后执行里面的函数
        $(function () {
            checkLogin();
        });

        // get response code 判断状态码
        function checkLogin() {
            $.ajax({
                url:'/check_login.html',
                type:'get',
                data:{},
                dataType:'JSON',
                success:function (arg) {
                    if (arg.code == 408){
                        checkLogin();
                    }else if(arg.code == 201){
                        $('#img').attr('src',arg.data);
                        checkLogin();
                    }else {
                        location.href = '/index.html';
                    }
                }
            })
        }
    </script>
</body>
</html>